.container{
    background-color: #362E45;
    width: 20%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    font-size: 20px;
    padding:0 20px;
    flex-direction: column;
    height: 100vh;
}
.others{
    overflow-y: scroll;
    height: calc(100vh - 200px);
}


.title{
    font-size: 16px;
    color: #8B8996;
    padding: 10px 20px;
}

.navlinks, .cats{
    display: flex;
    flex-direction: column;
}
.navlinks{
    gap: 10px;
}
.nav, .cat{
    padding: 10px 20px;
    border-radius: 50px;
    transition: .2s;
    display: flex;
    gap: 10px;
    align-items: center;
}
.active{
    color: #fff;
    background-color: #FE754D;
}

.catIcon{
    background-color: #FE754D;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 600;
}

.general{
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }
    .navlinks{
        gap: 0;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        padding: 0;
        font-size: 16px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    
    .icon{
        font-size: 22px;
    }
    .name{
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .container{
        flex-direction: row;
        position: fixed;
        height: auto;
        width: 100vw;
        bottom: 0;
        justify-content: center;
        border-radius: 0;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        z-index: 3;
    }
    .categories{
        display: none;
    }
    .log{
        display: none;
    }
    .title{
        display: none;
    }
    .general{
        width: 100%;
        padding: 20px 30px;
    }
    .navlinks{
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        width: 100%;
        
    }
    .others{
        height: auto;
        overflow-y: hidden;
        width: 100%;
    }
    .nav{
        flex-direction: column;
        padding: 0;
        /* font-size: 16px;
        padding-top: 30px;
        padding-bottom: 10px; */
    }
  }